@model ASPlevel1.ViewModels.OfficeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OfficeDetails</title>
</head>
<body>
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Offices", "Offices", "Office")

    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.Address</td>
        </tr>
    </table>
</body>
</html>
